.main {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px;
}

.slider {
  position: relative;
  width: 100%;
  font-size: 0;
  padding-top: 110px;
  overflow: hidden;
}
.slider ul {
  position: relative;
  width: 99999px;
}
.slider li {
  display: inline-block;
  cursor: pointer;
}
.slider img {
  width: 100%;
}
.slider .btn {
  position: absolute;
  top: 50%;
  left: 10px;
  cursor: pointer;
}
.slider .btn.next {
  right: 10px;
  left: auto;
}
.slider .sliderBar {
  position: absolute;
  width: 190px;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 13px;
  
}
.slider .sliderBar li {
  background-color: #FFF;
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 4px solid #FFF;
  border-radius: 50%;
  transition: .3s;
}
.slider .sliderBar li ~ li {
  margin-left: 23px;
}
.slider .sliderBar .active {
  background-color: #0089d1;
}

.section {
  margin-top: 48px;
  font-size: 0;
}
.section .title {
  margin-bottom: 3px;
}
.section .double li a {
  display: inline-block;
  width: auto;
  margin-top: 10px;
}
.section .double li a ~ a {
  margin-left: 10px;
}
.section.s1 .single {
  margin-top: 10px;
  text-align: center;
  background: #01b6ad;
}
.section.s2 .single {
  margin-top: 10px;
  text-align: center;
  background: #0089d1;
}

.s3 .item {
  margin-top: 20px;
  text-align: center;
}
.s3 .item li {
  display: inline-block;
}
.s3 .item li ~ li {
  margin-left: 40px;
}

.s4 {
  margin-top: 48px;
  font-size: 0;
}
.s4 .title {
  margin-bottom: 13px;
}
.s4 .item {
  position: relative;
}
.s4 .item .info a {
  padding: 28px 0;
}
.s4 .item .info a img {
  margin-left: 20px;
}
.s4 .item .more-btn {
  position: absolute;
  top: 16px;
  right: 0;
}

.s5 {
  background: #F1F1F1;
  text-align: center;
  margin-top: 27px;
}
.s5 ul {
  width: 578px;
  margin: 0 auto;
}
.s5 li ~ li {
  border-top: 2px dashed #D6D6D6;
}
.s5 li a {
  padding: 25px 0;
}

.footer {
  background: #7C7C7C;
  font-size: 0;
  margin-top: 27px;
}
.footer .s1 {
  border-bottom: 3px solid #BCBCBC;
}
.footer .s1 li {
  display: inline-block;
  width: 195px;
  text-align: center;
  height: 117px;
}
.footer .s1 li ~ li {
  border-left: 3px solid #BCBCBC;
}
.footer .s1 li img {
  position: relative;
  top: 47px;
}
.footer .s1 .item2 {
  width: 244px;
}
.footer .s2 {
  width: 305px;
  margin: 23px auto;
}
.footer .s2 li {
  display: inline-block;
}
.footer .s2 li ~ li {
  margin-left: 35px;
}
.footer .copyright {
  text-align: center;
  padding-bottom: 10px;
}
